# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
classes
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

#cursegradle
private

# other
eclipse
run
gradle_libs
mod_libs
credentials.properties
